body{
    font-family: 'Tsukimi Rounded', sans-serif;

}

.main{
    height:100vh;
    width: 100vw;
    background:  no-repeat center/100%  url("assets/sakura_bg.png");
    display: flex;
    justify-content: center;
    align-items: center;
}

.content{
    height: 80%;
    width: 60%;
    background-color: rgba(243, 247, 250, 0.9);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* align-items: center; */
}

.heading{
    padding:25px;
    font-family: 'Dr Sugiyama', cursive;
    font-size: 48px;
    text-align: center;
}

.game{
    display: flex;
    height:100%;
}

.ai{
    width: 70px;
    height:30px;
    background-color: rgb(244, 185, 167) ;
    border-radius: 120px;
    cursor:pointer;
    padding:7px;

}

.ai:after{
    content:"";
    text-align: center;
    padding:  3px;
    width:25px;
    height:25px;
    position: absolute;
    border-radius: 120px;
    
    background-color: aliceblue;
}

input{
    width: 0;
    height: 0;
    visibility: none;
}

input:checked + label {
    background: #242424 ;
}

input:checked + label:after{
    /* left: 240px; */
    transform: translateX(100%);
    background: linear-gradient(180);
}
.setting{
    /* background-color: black; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap:25px;
    padding:25px;
}

.setting h3{
    font-family: 'Dr Sugiyama', cursive;
    font-size: 36px;
}

.select{
    display: flex;
    gap:10px;
    justify-content: center;
    align-items: center;
}

.board{
    padding:25px;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.playarea{
    height:302px;
    width:302px;
    grid-gap: 1px;
    background-color: rgb(0, 0, 0);
    display: grid;
    grid-template-columns: repeat(3,auto);
    grid-template-rows: repeat(3,auto);
    border: 1px solid black;
}

.playarea .gameboard{
    background-color: white;
}

.board-true{
    background-color: chartreuse;
}

